<!--USER FILTER FORM-->
<%= bootstrap_form_tag url: filter_path, layout: :horizontal,
                       control_col: 'col-xs-12' do |f| %>

    <%= f.search_field :user_search, hide_label: true, placeholder: 'Search',
                       class: 'set-focus', value: params[:user_search] %>

    <%= f.radio_button :user_view, 'all', label: "All Users",
                       checked: view_option_check_for('all', params),
                       class: 'view-option' %>
    <%= f.radio_button :user_view, 'dep', label: "Users by Department",
                       checked: view_option_check_for('dep', params),
                       class: 'view-option' %>


  <div class="dept-list" <% if (params[:user_view] == 'all' || params[:user_view] == nil) %> style="display: none;" <% end %> >

    <%= f.select :view_department_id,
                 options_for_select(Department.all.collect{ |d| [d.name, d.id]},
                                    params[:view_department_id]),
                                    hide_label: true, prompt: 'Select Department...' %>
  </div>

  <div class="filter-apply">
    <%= f.submit class: 'btn btn-primary', value: "Apply" %>
  </div>

<% end %>