<% if @user.errors.any? %>
  <!-- ERROR PANEL -->
  <div class="row">
    <div class="col-xs-12 column">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Please correct the following:</h3>
        </div>
        <div class="panel-body">
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>  <!-- row error panel -->
<% end %>

<div class="well">
  <%= bootstrap_form_for(@user, layout: :horizontal,
                         label_col: 'col-lg-2', control_col: 'col-lg-10') do |f| %>
    <legend><%= user_form_legend %></legend>

    <%= f.text_field :first_name, placeholder: 'First Name',
                     label: 'First Name', class: 'set-focus',
                     disabled: non_admin_disable %>

    <%= f.text_field :last_name, placeholder: 'Last Name',
                     label: 'Last Name', disabled: non_admin_disable %>

    <% if current_user.admin? %>
      <%= f.collection_select :department_id, Department.all,
                              :id, :name, prompt: true %>
    <% else %>
      <%= f.text_field :department_id, value: @user.department.name, disabled: true %>
    <% end %>

    <%= f.phone_field :phone, class: 'mask-phone', placeholder: 'xxx-xxx-xxxx',
                      label: 'Phone Number' %>

    <%= f.email_field :email, placeholder: 'Email' %>

    <%= f.password_field :password, placeholder: 'Password' %>

    <%= f.password_field :password_confirmation, placeholder: 'Confirm Password',
                         label: 'Confirm Password' %>

    <%= f.text_area :address, rows: 5, placeholder: 'Mailing Address' %>

    <%= f.date_field :start_date, label: 'Start Date', disabled: non_admin_disable %>

    <% if current_user.admin? %>
      <%= f.date_field :birthday %>
    <% else %>
      <%= f.text_field :birthday, value: @user.birthday.strftime("%-m/%-d"),
                       disabled: non_admin_disable %>
    <% end %>

    <% if current_user.admin? %>
      <%= f.form_group :admin, label: { text: "Administrator?" } do %>
        <%= f.radio_button :admin, 0, label: "No", checked: !@user.admin? %>
        <%= f.radio_button :admin, 1, label: "Yes", checked: @user.admin? %>
      <% end %>
    <% end %>

    <%= f.form_group do %>
      <%= f.submit class: 'btn btn-success' %>
    <% end %>
  <% end %>

</div> <!-- well -->
