<!-- ********************* MAIN CONTENT ********************* -->
<div class="row clearfix">

  <div class="col-md-8 column">

    <%= render 'shared/app_flash' %>

    <div class="well">
      <div class="row">
        <div class="col-md-4">
          <p>Coming Soon</p>
        </div>
        <div class="col-md-8">
          <%= bootstrap_form_for(@user, layout: :horizontal,
                                 label_col: 'col-lg-3', control_col: 'col-lg-9') do |f| %>
            <legend><%= "#{@user.first_name} #{@user.last_name}" %></legend>

            <%= f.static_control nil, label: 'Department' do %>
              <%= @user.department.name %>
            <% end %>

            <%= f.static_control :phone %>

            <%= f.static_control :email %>

            <%= f.static_control :address %>

            <%= f.static_control nil, label: 'Start Date' do %>
              <%= @user.start_date.strftime("%-m/%-d/%Y") %>
            <% end %>

            <%= f.static_control nil, label: 'Birthday' do %>
              <%= @user.birthday.strftime("%-m/%-d/%Y") %>
            <% end %>

            <%= f.static_control nil, label: 'Administrator?' do %>
              <%= @user.admin? ? 'Yes' : 'No' %>
            <% end %>
          <% end %>
        </div>
      </div> <!-- row panel -->
    </div> <!-- well -->

    <%= link_to 'Go Back  ', users_path %>

  </div> <!-- col user form -->

</div>  <!-- row main content ************************************** -->
