<!-- ********************* MAIN CONTENT ********************* -->
<div class="row clearfix">

  <div class="col-md-8 column">

    <%= render 'shared/app_flash' %>

    <div class="well">
      <div class="row">
        <div class="col-md-4">
          <p>Coming Soon</p>
        </div>
        <div class="col-md-8">

            <% if current_user %>
              <% if current_user.admin? %>
                <%= render 'admin_show' %>
              <% else %>
                <%= render 'logged_in_show' %>
              <% end %>
            <% else %>
              <%= render 'general_show' %>
            <% end %>

        </div>
      </div> <!-- row panel -->
    </div> <!-- well -->

    <%= link_to 'Go Back  ', directory_path %>
    <br />

  </div> <!-- col user form -->

</div>  <!-- row main content ************************************** -->
