<div class="navbar-collapse collapse navbar-responsive-collapse">
  <ul class="nav navbar-nav navbar-right">
    <li class="<%= active_class_for :home %>">
      <%= link_to 'Home', users_path %>
    </li>
    <li class="<%= active_class_for :profile %>">
      <%= link_to 'Edit My Profile', edit_user_path(current_user) %>
    </li>
    <li class="dropdown <%= active_class_for :maintenance %>">
      <a href="#" class="dropdown-toggle"
         data-toggle="dropdown">Maintenance <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Users</a></li>
        <li><%= link_to 'Departments', departments_path %></li>
      </ul>
    </li>
    <li class="<%= active_class_for :logout %>">
      <%= link_to 'Logout', logout_path, method: :delete %>
    </li>
  </ul>
</div>